#emojipleter {
  position: absolute;
  z-index: 200;
  background: url(../../../ui/denim075.png) repeat;
  padding: 0;
  border-radius: 0.5em;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 500px;
}

#emojipleter .emojipleter-emojilist {
  list-style-type: none;
  padding: 0;
  color: #ccc;
  display: flex;
  flex-flow: column-reverse nowrap;
}

#emojipleter .emojipleter-emoji {
  padding: 0.5em 0.25em;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
}

#emojipleter span {
  white-space: nowrap;
}

#emojipleter .emojipleter-emoji.selected{
  background: #6594d6;
}

#emojipleter .emoji {
  margin-right: 0.5em;
  width: 1.5em;
  height: 1.5em;
}

.emoji-button {
  color: white;
  border-radius: 10px;
  height: 2rem;
  width: 3.25rem;
  line-height: 1;
  font-size: 0.85rem;
  margin-right: 5px;
}

#chatOptions {
  display:flex;
  flex-direction: column;
  top: 10px;
  left: 5px;
  position: absolute;
}

.relative {
  position:relative;
}

#chat-controls:not(:has(.emoji-picker-button--compact)) ~ #chat-form #chat-message{
  padding-left: 2.75em;
  padding-top: 0.75em;
}

#chat-controls {
  position: relative;
}

.chat-sidebar #chat-controls .roll-type-select {
  flex-basis: auto;
  width: 50%;
  flex-grow: 7;
}

.chat-sidebar #chat-controls .control-buttons {
  flex: unset;
  display: flex;
  justify-content: flex-end;
}

/* Make compact emoji button compatible with df-chat-enhance replaced roll buttons */
#chat-controls:has(.emoji-picker-button--compact) #dfcp-rt-buttons :is(.chat-archive, .export-log, .chat-flush) {
  display: none;
}

/* Make compact emoji button clickable when in DF Chat Enhancements merged message */
.message-metadata {
  z-index: 1;
  max-height: 0; /* Make player view consistent with GM view */
}

.emojiPickerButton {
  height: 1.75rem;
  width: 1.75rem;
  line-height: 1.5;
  top:8px;
  left:5px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1.75rem;
  position:absolute
}

img.emoji, svg.emoji {
  height: 1.2em;
  width: 1.2em;
  border: none;
  vertical-align: -.1em;
}
img.emoji.emoji-large, svg.emoji.emoji-large {
  height:2.4em;
  width: 2.4em;
}

.invert {
  filter: invert(100%);
}

.popupContainer {
  z-index: 1000; /* So it appears above popped-out chat logs */
}

.picmo-picker { /* Make more compact */
  gap: 2px;
}

.picmo-picker .header {
  padding-bottom: 0;
  gap: 2px;
}

.picmo-picker .emojiCategory .categoryName {
  font-family: 'Signika', sans-serif;
}

.reaction {
  background: rgba(0, 0, 0, 0.6);
}

.emoji-active {
  background: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  border: 1px solid rgba(255, 0, 0, 0.8);
  box-shadow: 0px 0px 4px rgba(255, 0, 0, 0.75);
}

.emoji {
  border: none;
}

.emoji-button-content {
  display: flex;
  padding: 0px 2px;
  justify-content: space-between;
}

.emoji-image {
  height: 1rem;
  aspect-ratio: 1;
  border: none;
  margin-top: auto;
  margin-bottom: auto;
}

.emoji-button:hover {
  cursor: pointer;
}

#chatReactionRack {
  display: flex;
  margin-top: 5px;
}

.trigger {
  background-color: transparent;
  border: none;
  width: 30px;
  border-radius: 100%;
  height: 30px;
}
